<div class="cs-file">
    <div class="cs-file-thumb"></div>
    <div class="cs-file-info">
        <div class="cs-file-title">
            {{#if url}}
                <a href="{{url}}" target="_blank" title="{{fileName}}">
                    {{fileName}}
                </a>
                {{#if urlPreview}}
                    <img src="{{urlPreview}}" class="file-preview" alt="{{fileName}}" title="{{fileName}}" />
                {{/if}}
            {{else}}
                <span>{{fileName}}</span>
            {{/if}}
        </div>
        <div class="cs-file-data hide">
            {{content-type contentType}}, {{fileSize}}
        </div>
    </div>
</div>