<form action="{{action}}" method="{{method}}" class="" role="form">
    <div class="form-group">
        <label for="{{guid}}_username" class="control-label">Username</label>
        <div class="">
            <input class="form-control" type="text" id="{{guid}}_username" name="username" />
        </div>
    </div>
    <div class="form-group">
        <label for="{{guid}}_password" class="control-label">Password</label>
        <div class="">
            <input class="form-control" type="password" id="{{guid}}_password" name="password" />
        </div>
    </div>
</form>