<div class="cs-file">
    <div class="cs-file-thumb"></div>
    <div class="cs-file-info">
        <div class="cs-file-title">
            {{#if url}}
                <a href="{{url}}" target="_blank">
                    {{fileName}}
                </a>
            {{else}}
                <span>{{fileName}}</span>
            {{/if}}
        </div>
        <div class="cs-file-data">
            {{content-type contentType}}, {{fileSize}}
        </div>
    </div>
</div>